## **Exception Handling**

In [3]:
dir(__builtin__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'PythonFinalizationError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '_IncompleteInputError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

### **Errors Type**

In [1]:
print x

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3945978432.py, line 1)

In [2]:
print(x)

NameError: name 'x' is not defined

In [5]:
print('a'+5)

TypeError: can only concatenate str (not "int") to str

In [6]:
print(10/0)

ZeroDivisionError: division by zero

In [7]:
number = [1,2,3,4,5]
number[6]

IndexError: list index out of range

In [8]:
with open('abc.txt', 'r') as f:
    print(f.read())
    f.close()

FileNotFoundError: [Errno 2] No such file or directory: 'abc.txt'

In [9]:
import module

ModuleNotFoundError: No module named 'module'

In [11]:
a  = 15
assert a >= 18, "A must be Greatr than 18"
print("A is Valid")

AssertionError: A must be Greatr than 18

In [12]:
dic = {'A':1, 'B':2, 'C':3}
dic['D']

KeyError: 'D'

In [13]:
a = int(input("Enter a number: "))
print(a)

Enter a number:  a

ValueError: invalid literal for int() with base 10: 'a'

In [33]:
a = int(input("Enter a number: "))
    print(a)

IndentationError: unexpected indent (3333995459.py, line 2)

In [14]:
class Person:
    def __init__(self, x):
        self.x = x

    def display(self):
        return self.x

obj = Person()
obj

TypeError: Person.__init__() missing 1 required positional argument: 'x'

### **Try-Except**

In [16]:
try:
    print(x)
except:
    print("Name error")

Name error

In [17]:
x = 10

In [21]:
try:
    print(y)
except:
    print("An Exception Occured")

An Exception Occured

In [23]:
try:
    a = int(input('Enter a number: '))
    b = int(input('enter a number: '))
    result = a / b
    print(result)
except:
    print("An exception occured")

Enter a number:  12
enter a number:  0

An exception occured

In [34]:
a = [1,2,3,4,5,6]
a[7]

IndexError: list index out of range

In [28]:
try:
    a = [1,2,3,4,5,6]
    a[6]
except:
    print("intex out of range")
    
print(a[1])

intex out of range
2

In [32]:
x = 5
y = 'a'
try:
    z = x+y
except:
    print("Error Occured")
print(z)

Error Occured
10

In [41]:
a = [1,2,3,4,'A','B', 6]

try:
    n = int(input('enter a number: '))
    print(a[n])
except ValueError:
    print("Give a valid input")
except IndexError:
    print("Index out of range")

enter a number:  2

3

In [43]:
try:
    with open('abc.txt', 'r') as file:
        file.read()
        file.close()
except FileNotFoundError:
    print("Chose the Correct File")

Chose the Correct File

In [46]:
a = 10
b = 0
c = a / b
c

ZeroDivisionError: division by zero

In [49]:
try:
    a = 10
    b = int(input())
    c = a / b
except ZeroDivisionError as e:
    print(f"Error: {e}")
print(c)

 0

Error: division by zero
5.0

In [52]:
try:
    import module
except ModuleNotFoundError as e:
    print("Module :", e)

Module : No module named 'module'

### **try-except-else**

In [56]:
a = 'hello'
try:
    print(a)
except:
    print("An Error Occured")
else:
    print('Nothing Wrong')

hello
Nothing Wrong

In [63]:
def AbyB(a, b):
    try:
        c = ((a+b)/(a-b))
    except ZeroDivisionError as e:
        print(f"Error: Not {e}")
    except TypeError as e:
        print(f"Error: {e}")
    else:
        print(c)

In [64]:
AbyB(3,3)

Error: Not division by zero

In [65]:
AbyB(3,'a')

Error: unsupported operand type(s) for +: 'int' and 'str'

In [66]:
AbyB(3,5)

-4.0

In [67]:
def finding_num(n):
    try:
        a = [1,2,3,4,5,6,7]
        c  = a[n]
    except IndexError as e:
        print(f"Error: {e}")
    except TypeError as e:
        print(f"Error: {e}")
    else:
        print(c)

In [68]:
finding_num(1)

2

In [69]:
finding_num(8)

Error: list index out of range

In [70]:
finding_num('a')

Error: list indices must be integers or slices, not str

### **try-except-else-finally**

In [3]:
try:
    x = 10
    print(x)
except NameError:
    print("Error")
finally:
    print("the try Except is finished")

10
the try Except is finished

In [6]:
try:
    a = int(input("Enter a Num: "))
    k = 5//a

except ZeroDivisionError as e:
    print(f"Error {e}")
except ValueError as e:
    print(f"Error : {e}")
else:
    print(k)

finally:
    print("Thank You")

Enter a Num:  2

2
Thank You

In [12]:
def find_num(i):
    try:
        a = [1,2,3,4]
        result = a[i]
    except TypeError as e:
        print(f"Error: {e}")
    except IndexError as e:
        print(f"Error: {e}")
    else:
        print(result)
    finally:
        print("Exception is finished")

In [8]:
find_num(1)

2
Exception is finished

In [9]:
find_num(4)

Error: list index out of range
Exception is finished

In [13]:
find_num('a')

Error: list indices must be integers or slices, not str
Exception is finished

### Raise Exception or Custom Exception

```
raise ExcetionType(" Error Message")
```

In [14]:
a = 10

if a%2==0:
    raise Exception("a is Even Number")

Exception: a is Even Number

In [ ]:
dir(__builtin__)

In [26]:
a = 'Hello'

if a.isalnum():
    raise ValueError("The String is AlphNumaric")

ValueError: The String is AlphNumaric

In [18]:
f = int(input("Enter a Number"))

if f > 0:
    raise Exception("F is Positive Number")
elif f <0:
    raise Exception("F is Negitive Number")
else: 
    raise Exception("Zero")

Enter a Number 0

Exception: Zero

In [22]:
def finding_num():
    try:
        f = int(input("Enter a Number"))
        
        if f > 0:
            raise Exception("F is Positive Number")
        elif f <0:
            raise Exception("F is Negitive Number")
        else: 
            raise Exception("Zero")

    except Exception as e:
        print(f"Error: {e}")
    finally:
        print("Thank You")

In [23]:
finding_num()

Enter a Number 1

Error: F is Positive Number
Thank You

In [24]:
finding_num()

Enter a Number -4

Error: F is Negitive Number
Thank You

In [25]:
finding_num()

Enter a Number 0

Error: Zero
Thank You

## **Regular Expression**

#### **Escape Sequences:**
 
Regular expressions support various escape sequences that represent special characters or character classes. Some commonly used escape sequences are

### Regular Expression Special Sequences

| Pattern | Description                                                                                   |
|---------|-----------------------------------------------------------------------------------------------|
| \A      | Matches if the string begins with the given character.                                       |
| \b      | Matches if the word begins or ends with the given character.                                 |
| \B      | Matches if the word does not begin or end with the given character (opposite of \b).         |
| \d      | Matches any decimal digit (equivalent to [0-9]).                                             |
| \D      | Matches any non-digit character (equivalent to [^0-9]).                                      |
| \s      | Matches any whitespace character (spaces, tabs, newlines).                                   |
| \S      | Matches any non-whitespace character.                                                        |
| \w      | Matches any alphanumeric character (letters, digits, or underscore).                         |
| \W      | Matches any non-alphanumeric character (symbols, punctuation, etc.).                         |
| \Z      | Matches if the string ends with the given regex.                                             |
| \n      | Matches a newline character.                                                                 |

In [1]:
import re

import warnings
warnings.filterwarnings('ignore')

In [28]:
txt = "Python Hello World"
pattern = r'\APython'

match = re.match(pattern, txt)
print(match)

<re.Match object; span=(0, 6), match='Python'>

In [30]:
print(match.group())

Python

In [31]:
text = "Hello World! Hello Again"
pattern = r'\bhello'

match = re.search(pattern, text, re.IGNORECASE)
print(match)

<re.Match object; span=(0, 5), match='Hello'>

In [32]:
text = "Hello World! Hello Again"
pattern = r'\bhello'

match = re.findall(pattern, text, re.IGNORECASE)
print(match)

['Hello', 'Hello']

In [34]:
text = "There are 123 apples"
pattern = r'\d+'

digit = re.findall(pattern, text, re.IGNORECASE)
print(digit)

['123']

In [35]:
text = "There are 123 apples"
pattern = r'\D+'

digit = re.findall(pattern, text, re.IGNORECASE)
print(digit)

['There are ', ' apples']

In [44]:
text = 'Python Hello World '
pattern = r'\s'

space = re.findall(pattern, text)
space

[' ', ' ', ' ']

In [42]:
text = 'Python Hello World'
pattern = r'\S+'

space = re.findall(pattern, text)
space

['Python', 'Hello', 'World']

In [4]:
text = "Hello, World! 123"
pattern = r'\w+'

matches = re.findall(pattern, text, flags=re.IGNORECASE)
print(matches)

['Hello', 'World', '123']

In [5]:
text = "Hello, World! 123"
pattern = r'\W+'

matches = re.findall(pattern, text, flags=re.IGNORECASE)
print(matches)

[', ', '! ']

In [11]:
text = "Regular Expression is the best tool to mining"
pattern = r'mining\Z'

match = re.search(pattern, text)
print(match)

<re.Match object; span=(39, 45), match='mining'>

### **Metacharacters:** 
Regular expressions also include metacharacters that have special meanings and functions. Some common metacharacters are:

- . (dot): Matches any character except newline.
- ^ (caret): Matches the start of a line.
- $ (dollar): Matches the end of a line.
- ' * ' (asterisk): Matches zero or more occurrences of the preceding character or group.
- ' + ' (plus): Matches one or more occurrences of the preceding character or group.
- ? (question mark): Matches zero or one occurrence of the preceding character or group.
- \ (backslash): Escapes a metacharacter, treating it as a literal character.

In [13]:
text = "Hello heleo"
pattern = r"he.lo"

words = re.findall(pattern, text, flags=re.IGNORECASE)
print(words)

['Hello']

In [16]:
text = 'Compute Saianca science portal-GeeksforGeeks'
pattern = r'^Compute'

match = re.search(pattern, text, flags=re.IGNORECASE)
print(match)

None

In [19]:
text = 'Compute Saianca science portal-GeeksforGeeks'
pattern = r'Geeks$'

match = re.search(pattern, text, flags=re.IGNORECASE)
print(match)

<re.Match object; span=(39, 44), match='Geeks'>

In [27]:
text = 'Helllllo'
pattern = r'hel*o'

match = re.findall(pattern, text, flags=re.IGNORECASE)
print(match)

['Helllllo']

In [31]:
text = 'Hellllllo'
pattern = r'hel+o'

match = re.findall(pattern, text, flags=re.IGNORECASE)
print(match)

['Hellllllo']

In [33]:
text = 'color, colour'
pattern = r'colou?r'

match = re.findall(pattern, text, flags=re.IGNORECASE)
print(match)

['color', 'colour']

In [36]:
text = 'Do you have $5?'
pattern = r'\$5?'

match = re.findall(pattern, text, flags=re.IGNORECASE)
print(match)

['$5?']

### **Character Classes:** 

Character classes allow you to define a set of characters that can match at a certain position in a string. Some common character classes include:
- [abc]: Matches any character a, b, or c.
- [a-z]: Matches any lowercase letter.
- [A-Z]: Matches any uppercase letter.
- [0-9]: Matches any digit.
- [^abc]: Matches any character except a, b, or c

In [39]:
text = 'abc apple, banana, cherry'
pattern = r'[abc]+'

match = re.findall(pattern, text)
print(match)

['abc', 'a', 'ba', 'a', 'a', 'c']

In [41]:
text = 'Compute Saianca science portal-GeeksforGeeks'
pattern = r'[mpute]+'

match = re.findall(pattern, text, flags=re.IGNORECASE)
print(match)

['mpute', 'e', 'e', 'p', 't', 'ee', 'ee']

In [43]:
text = 'Character classes allow you to define a set of characters'

pattern = r'[a-o]+'

match = re.findall(pattern, text)
print(match)

['ha', 'ac', 'e', 'cla', 'e', 'allo', 'o', 'o', 'define', 'a', 'e', 'of', 'cha', 'ac', 'e']

In [44]:
text = 'Character classes allow you to define a set of characters'

pattern = r'[A-Z]+'

match = re.findall(pattern, text)
print(match)

['C']

In [45]:
text = "Order number: 12345"
pattern = r'\d+'

match = re.findall(pattern, text, flags=re.IGNORECASE)
print(match)

['12345']

In [46]:
text = "Order number: 12345"
pattern = r'[0-9]+'

match = re.findall(pattern, text, flags=re.IGNORECASE)
print(match)

['12345']

In [50]:
text = "Order number: 12345"
pattern = r'number: [0-9]+'

match = re.findall(pattern, text, flags=re.IGNORECASE)
print(match)

['number: 12345']

In [51]:
text = 'abc123ABC'
pattern = r'\w+'

match = re.findall(pattern, text, flags=re.IGNORECASE)
print(match)

['abc123ABC']

In [52]:
text = 'abc123ABC'
pattern = r'[a-zA-Z0-9]+'

match = re.findall(pattern, text, flags=re.IGNORECASE)
print(match)

['abc123ABC']

In [54]:
text = "Order number: 12345"
pattern = r'[^Oder]+'

match = re.findall(pattern, text, flags=re.IGNORECASE)
print(match)

[' numb', ': 12345']

### **Quantifiers:**
Quantifiers specify how many times a character or group can occur. Some commonly used quantifiers are:
- {n}: Matches exactly n occurrences of the preceding character or group.
- {n,}: Matches n or more occurrences of the preceding character or group.
- {n,m}: Matches between n and m occurrences of the preceding character or group.

In [55]:
text = "Helloooo"
pattern = r"hello{3}"

match = re.findall(pattern, text, flags=re.IGNORECASE)
print(match)

['Hellooo']

In [58]:
text = "Helloooo"
pattern = r"hello{2,}"

match = re.findall(pattern, text, flags=re.IGNORECASE)
print(match)

['Helloooo']

In [65]:
text = "helloooo0"
pattern = r'hello{2,4}'

match = re.findall(pattern, text, flags=re.IGNORECASE)
print(match)

['helloooo']

In [66]:
text = "Today is 11/07/2025"

pattern = r'[\d]{2}/[\d]{2}/[\d]{4}'

match = re.findall(pattern, text, flags=re.IGNORECASE)
print(match)

['11/07/2025']

In [67]:
text = "Phone number: +91 8088989786"

pattern = r'\+91 [\d]{10}'

match = re.findall(pattern, text, flags=re.IGNORECASE)
print(match)

['+91 8088989786']

#### **Split**

In [1]:
import re

In [2]:
text = "The rain in Banglore"

text1 = "The-rain-in-Banglore"

pattern = r'\s'

match = re.split(pattern, text)
print(match)

['The', 'rain', 'in', 'Banglore']

In [3]:
pattern = r'\-'

match = re.split(pattern, text1)
print(match)

['The', 'rain', 'in', 'Banglore']

In [7]:
string = text.split(' ')
string

['The', 'rain', 'in', 'Banglore']

In [9]:
' '.join(string)

'The rain in Banglore'

In [19]:
string1 = "Twelve:12 Ninty nine:99"

pattern = r'\d'

match = re.split(pattern, string1)
print(match)

['Twelve:', '', ' Ninty nine:', '', '']

In [20]:
text = "Regular expression can include litral chracters"
match = re.split(r'\s', text)
match

['Regular', 'expression', 'can', 'include', 'litral', 'chracters']

#### **Replace**
re.sub

In [24]:
text = "the King in the north clims he/she is worthy"

pattern = r'king'

match = re.sub(pattern, 'Queen', text, flags=re.IGNORECASE)

print(match)

the Queen in the north clims he/she is worthy

In [25]:
text = "hello World"

pattern = r'world'

match = re.sub(pattern, 'Universe', text, flags=re.IGNORECASE)

print(match)

hello Universe

In [31]:
text = "Python is a High Level Language"

pattern = r'\s'

subt = re.sub(pattern, '-', text, 4)
print(subt)

Python-is-a-High-Level Language

C:\Users\Admin\AppData\Local\Temp\ipykernel_7872\2031149929.py:5: DeprecationWarning: 'count' is passed as positional argument
  subt = re.sub(pattern, '-', text, 4)

re.subn

In [32]:
text = "Subject has uber booked already"

pattern = r'ub'

subt = re.subn(pattern,'UB', text, re.IGNORECASE)
print(subt)

('SUBject has UBer booked already', 2)

C:\Users\Admin\AppData\Local\Temp\ipykernel_7872\362372641.py:5: DeprecationWarning: 'count' is passed as positional argument
  subt = re.subn(pattern,'UB', text, re.IGNORECASE)

In [43]:
text = "Subject has uber booked already"

pattern = r'\s'

subt = re.subn(pattern, '_', text)
print(subt)

('Subject_has_uber_booked_already', 4)

#### **re.compile**

In [46]:
pattern = re.compile(r'\d+')

In [62]:
text = 'Today is 15-08-2025, Monday, tomrrow is 16-08-2025 Tuesday'

match = pattern.findall(text)
match

['15', '08', '2025', '16', '08', '2025']

In [67]:
date_pattern = re.compile(r'\d{2}-\d{2}-\d{4}')
day_pattern = re.compile(r'\b(Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday)\b')

In [68]:
date = date_pattern.findall(text)
print(date)

['15-08-2025', '16-08-2025']

In [69]:
day = day_pattern.findall(text, re.IGNORECASE)
print(day)

['Monday', 'Tuesday']

In [71]:
date_pattern = re.findall(r'\d{2}-\d{2}-\d{4}', text)
day_pattern = re.findall(r'\b(Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday)\b', text)
for i, j in zip(date_pattern, day_pattern):
    print(i,j)

15-08-2025 Monday
16-08-2025 Tuesday

#### **Escape**

In [1]:
import re

import warnings
warnings.filterwarnings('ignore')

In [2]:
text = "This is a Awsome"

pattern = re.escape(text)
print(pattern)

This\ is\ a\ Awsome

In [5]:
doc = 'This is a Awsome Even 1 AM'

match = re.findall(pattern, doc, re.IGNORECASE)
print(match)

['This is a Awsome']

In [6]:
pattern = re.escape("i asked what is this")

doc = 'I Asked what is this [a-9], he said \t ^WoW'

match = re.findall(pattern, doc, re.IGNORECASE)
print(match)

['I Asked what is this']

In [7]:
pattern = re.escape('Price: $100.00')

text = "The Total cost is Price: $100.00"

match = re.findall(pattern, text, re.IGNORECASE)
print(match)

['Price: $100.00']

In [8]:
text = '''
Note 1 - Overview
Tesla, Inc. (Tesla, the Company, we, us or our) was incorporated in the State 
products. Our Chief Executive Officer, as the chief operating decision maker (CODM), o
Beginning in the first quarter of 2021, there has been a trend in many parts of the worl
against COVID-19, as well as an easing of restrictions on social, business, travel and g
rates and regulations continue to fluctuate in various regions and there are ongoing glo
and increases in costs for logistics and supply chains, such as increased port congestio
supply. We have also previously been affected by temporary manufacturing closures, emplo
administrative activities supporting our product deliveries and deployments.
Note 2 - Summary of Significant Accounting Policies
Unaudited Interim Financial Statements
The consolidated balance sheet as of September 30, 2021, the consolidated statements of 
comprehensive income, the consolidated statements of redeemable noncontrolling interests
30, 2021 and 2020 and the consolidated statements of cash flows for the nine months ende
disclosed in the accompanying notes, are unaudited. The consolidated balance sheet as of
consolidated financial statements as of that date. The interim consolidated financial st
conjunction with the annual consolidated financial statements and the accompanying notes
ended December 31, 2020.
'''

print(text)

Note 1 - Overview
Tesla, Inc. (Tesla, the Company, we, us or our) was incorporated in the State
products. Our Chief Executive Officer, as the chief operating decision maker (CODM), o
Beginning in the first quarter of 2021, there has been a trend in many parts of the worl
against COVID-19, as well as an easing of restrictions on social, business, travel and g
rates and regulations continue to fluctuate in various regions and there are ongoing glo
and increases in costs for logistics and supply chains, such as increased port congestio
supply. We have also previously been affected by temporary manufacturing closures, emplo
administrative activities supporting our product deliveries and deployments.
Note 2 - Summary of Significant Accounting Policies
Unaudited Interim Financial Statements
The consolidated balance sheet as of September 30, 2021, the consolidated statements of
comprehensive income, the consolidated statements of redeemable noncontrolling interests
30, 2021 and 2020 and the consolidated statements of cash flows for the nine months ende
disclosed in the accompanying notes, are unaudited. The consolidated balance sheet as of
consolidated financial statements as of that date. The interim consolidated financial st
conjunction with the annual consolidated financial statements and the accompanying notes
ended December 31, 2020.

In [11]:
pattern =  r'Note \d - [^\n]+'

In [12]:
match = re.findall(pattern, text, re.IGNORECASE)
print(match)

['Note 1 - Overview', 'Note 2 - Summary of Significant Accounting Policies']

In [24]:
match = re.findall(r'\d+', text)
print(match)

['1', '2021', '19', '2', '30', '2021', '30', '2021', '2020', '31', '2020']

In [17]:
match = re.findall(r'\d{4}', text)
print(match)

['2021', '2021', '2021', '2020', '2020']

In [22]:
match = re.findall(r'\w+ \d{2}, \d{4}', text, re.IGNORECASE)
print(match)

['September 30, 2021', 'December 31, 2020']

In [25]:
#### **Text File**

In [26]:
with open(r"D:\Python\Python_Fundamentals\8.Regular Expression\data.txt", mode="r") as file:
    content = file.read()
    print(content)
    file.close()

Emails:
nAstw@outlook.com
Au2LGKWdGY@gmail.com
0nasoeaaw4@gmail.com
czoyzVFpja@outlook.com
9XFRwx4@outlook.com
CU57VTn8h@outlook.com
tx0f3Jcv@gmail.com
lpNiviwTNM@outlook.com
PmxkL@outlook.com
py0UK@outlook.com
vAL0L@gmail.com
iToQn@hotmail.com
X604SE@gmail.com
QIWKlGik8i@outlook.com
gmWbz9EUh5@outlook.com
SHWXFxL7S@hotmail.com
TXj8O7fj@yahoo.com
1gcFW3UgXX@hotmail.com
sZBSRYY7m@outlook.com
ifxiWMlmX@hotmail.com
jxpTu@gmail.com
19Qdc77Ynj@yahoo.com
VOSfbvF@outlook.com
8yKXe@gmail.com
Due8G@outlook.com
OucwwY@outlook.com
3TYW5BzK@outlook.com
ZDLZmB@yahoo.com
ODXACm@outlook.com
sqR2II@gmail.com
6aYiKy@gmail.com
XnpmaOYjp7@yahoo.com
3scvKTekL2@outlook.com
wMa0sn2@outlook.com
Digt5Q@gmail.com
2Ks4bT@gmail.com
IMvNl7iMO@yahoo.com
SBeUE@gmail.com
T182TgDc@yahoo.com
Ta5T26B@gmail.com
4amMLRsBY@gmail.com
F6dyUvcE8v@yahoo.com
nGa3Zsr1@gmail.com
mbzdr@outlook.com
lSYLayiZ4@outlook.com
tILMc3xA@gmail.com
UYXpMW0lu@gmail.com
3N3J74MNM@hotmail.com
UG8Ky5Q5@hotmail.com
QqJiV@hotmail.com
Phone Numbers:
+91-9328007805
+91-7050038054
+91-7325144231
+91-8610638284
+91-8858221596
+91-7035921276
+91-9843513027
+91-7031644384
+91-9673962500
+91-7238584311
+91-7365402497
+91-8873583904
+91-9512045269
+91-8082730318
+91-8099507951
+91-9588056931
+91-8269262531
+91-9715654185
+91-9277495006
+91-9648363060
+91-9417713649
+91-8488671196
+91-8190815664
+91-7454790811
+91-8262323505
+91-8017866448
+91-8849004676
+91-9900313046
+91-7658552582
+91-9333856056
+91-7202523823
+91-8919315839
+91-8698336675
+91-8249799195
+91-7090591031
+91-8946470254
+91-9017689458
+91-7056280066
+91-8303984365
+91-8784598815
+91-7901957980
+91-9539763461
+91-7238986861
+91-9186034821
+91-8728318334
+91-9893273414
+91-7552522582
+91-7501596026
+91-7449062201
+91-9995808361
Dates:
04-06-2000
07-08-2030
27-11-2030
27-11-2004
30-08-2028
30-01-2020
03-03-2007
20-07-2003
29-01-2024
22-11-2009
02-01-2005
04-10-2030
28-03-2007
03-01-2004
29-04-2027
02-02-2012
10-07-2001
25-06-2024
05-11-2007
19-09-2000
27-04-2001
15-11-2011
16-04-2022
26-11-2019
09-01-2021
17-05-2003
07-02-2005
13-03-2018
21-08-2010
12-05-2011
05-02-2000
02-09-2030
25-07-2012
20-01-2003
21-03-2025
29-10-2006
22-07-2023
30-09-2023
03-03-2001
13-09-2008
12-06-2003
11-03-2025
27-11-2029
05-10-2020
17-10-2000
28-05-2015
14-07-2002
03-01-2011
15-02-2008
07-05-2013

In [31]:
s = "jack email is sameer658@gmail.com"

pattern = r'[\w]+@[\w.]+'

match = re.findall(pattern, s, re.IGNORECASE)
print(match)

['sameer658@gmail.com']

In [32]:
email_pattern = r'[\w]+@[\w.]+'
ph_pattern = r'\+91-\d{10}'
date_pattern = r'\d{2}-\d{2}-\d{4}'

Detailes = {"Email":[], "Ph":[], "Date":[]}

with open(r"D:\Python\Python_Fundamentals\8.Regular Expression\data.txt", mode="r") as file:
    content = file.read()
    Detailes['Email'] = re.findall(email_pattern, content)
    Detailes['Ph'] = re.findall(ph_pattern, content)
    Detailes['Date'] = re.findall(date_pattern, content)

In [33]:
print(Detailes)

{'Email': ['nAstw@outlook.com', 'Au2LGKWdGY@gmail.com', '0nasoeaaw4@gmail.com', 'czoyzVFpja@outlook.com', '9XFRwx4@outlook.com', 'CU57VTn8h@outlook.com', 'tx0f3Jcv@gmail.com', 'lpNiviwTNM@outlook.com', 'PmxkL@outlook.com', 'py0UK@outlook.com', 'vAL0L@gmail.com', 'iToQn@hotmail.com', 'X604SE@gmail.com', 'QIWKlGik8i@outlook.com', 'gmWbz9EUh5@outlook.com', 'SHWXFxL7S@hotmail.com', 'TXj8O7fj@yahoo.com', '1gcFW3UgXX@hotmail.com', 'sZBSRYY7m@outlook.com', 'ifxiWMlmX@hotmail.com', 'jxpTu@gmail.com', '19Qdc77Ynj@yahoo.com', 'VOSfbvF@outlook.com', '8yKXe@gmail.com', 'Due8G@outlook.com', 'OucwwY@outlook.com', '3TYW5BzK@outlook.com', 'ZDLZmB@yahoo.com', 'ODXACm@outlook.com', 'sqR2II@gmail.com', '6aYiKy@gmail.com', 'XnpmaOYjp7@yahoo.com', '3scvKTekL2@outlook.com', 'wMa0sn2@outlook.com', 'Digt5Q@gmail.com', '2Ks4bT@gmail.com', 'IMvNl7iMO@yahoo.com', 'SBeUE@gmail.com', 'T182TgDc@yahoo.com', 'Ta5T26B@gmail.com', '4amMLRsBY@gmail.com', 'F6dyUvcE8v@yahoo.com', 'nGa3Zsr1@gmail.com', 'mbzdr@outlook.com', 'lSYLayiZ4@outlook.com', 'tILMc3xA@gmail.com', 'UYXpMW0lu@gmail.com', '3N3J74MNM@hotmail.com', 'UG8Ky5Q5@hotmail.com', 'QqJiV@hotmail.com'], 'Ph': ['+91-9328007805', '+91-7050038054', '+91-7325144231', '+91-8610638284', '+91-8858221596', '+91-7035921276', '+91-9843513027', '+91-7031644384', '+91-9673962500', '+91-7238584311', '+91-7365402497', '+91-8873583904', '+91-9512045269', '+91-8082730318', '+91-8099507951', '+91-9588056931', '+91-8269262531', '+91-9715654185', '+91-9277495006', '+91-9648363060', '+91-9417713649', '+91-8488671196', '+91-8190815664', '+91-7454790811', '+91-8262323505', '+91-8017866448', '+91-8849004676', '+91-9900313046', '+91-7658552582', '+91-9333856056', '+91-7202523823', '+91-8919315839', '+91-8698336675', '+91-8249799195', '+91-7090591031', '+91-8946470254', '+91-9017689458', '+91-7056280066', '+91-8303984365', '+91-8784598815', '+91-7901957980', '+91-9539763461', '+91-7238986861', '+91-9186034821', '+91-8728318334', '+91-9893273414', '+91-7552522582', '+91-7501596026', '+91-7449062201', '+91-9995808361'], 'Date': ['04-06-2000', '07-08-2030', '27-11-2030', '27-11-2004', '30-08-2028', '30-01-2020', '03-03-2007', '20-07-2003', '29-01-2024', '22-11-2009', '02-01-2005', '04-10-2030', '28-03-2007', '03-01-2004', '29-04-2027', '02-02-2012', '10-07-2001', '25-06-2024', '05-11-2007', '19-09-2000', '27-04-2001', '15-11-2011', '16-04-2022', '26-11-2019', '09-01-2021', '17-05-2003', '07-02-2005', '13-03-2018', '21-08-2010', '12-05-2011', '05-02-2000', '02-09-2030', '25-07-2012', '20-01-2003', '21-03-2025', '29-10-2006', '22-07-2023', '30-09-2023', '03-03-2001', '13-09-2008', '12-06-2003', '11-03-2025', '27-11-2029', '05-10-2020', '17-10-2000', '28-05-2015', '14-07-2002', '03-01-2011', '15-02-2008', '07-05-2013']}

In [35]:
import csv

with open("Detailes.csv", "w") as file:
    writer = csv.writer(file)
    writer.writerow(Detailes.keys())
    writer.writerows(zip(*Detailes.values()))

In [36]:
import pandas as pd

df = pd.DataFrame(Detailes)
df.to_csv("Detailes.csv")

In [38]:
pd.read_csv('Detailes.csv').drop('Unnamed: 0', axis=1)

                     Email              Ph        Date
0        nAstw@outlook.com  +91-9328007805  04-06-2000
1     Au2LGKWdGY@gmail.com  +91-7050038054  07-08-2030
2     0nasoeaaw4@gmail.com  +91-7325144231  27-11-2030
3   czoyzVFpja@outlook.com  +91-8610638284  27-11-2004
4      9XFRwx4@outlook.com  +91-8858221596  30-08-2028
5    CU57VTn8h@outlook.com  +91-7035921276  30-01-2020
6       tx0f3Jcv@gmail.com  +91-9843513027  03-03-2007
7   lpNiviwTNM@outlook.com  +91-7031644384  20-07-2003
8        PmxkL@outlook.com  +91-9673962500  29-01-2024
9        py0UK@outlook.com  +91-7238584311  22-11-2009
10         vAL0L@gmail.com  +91-7365402497  02-01-2005
11       iToQn@hotmail.com  +91-8873583904  04-10-2030
12        X604SE@gmail.com  +91-9512045269  28-03-2007
13  QIWKlGik8i@outlook.com  +91-8082730318  03-01-2004
14  gmWbz9EUh5@outlook.com  +91-8099507951  29-04-2027
15   SHWXFxL7S@hotmail.com  +91-9588056931  02-02-2012
16      TXj8O7fj@yahoo.com  +91-8269262531  10-07-2001
17  1gcFW3UgXX@hotmail.com  +91-9715654185  25-06-2024
18   sZBSRYY7m@outlook.com  +91-9277495006  05-11-2007
19   ifxiWMlmX@hotmail.com  +91-9648363060  19-09-2000
20         jxpTu@gmail.com  +91-9417713649  27-04-2001
21    19Qdc77Ynj@yahoo.com  +91-8488671196  15-11-2011
22     VOSfbvF@outlook.com  +91-8190815664  16-04-2022
23         8yKXe@gmail.com  +91-7454790811  26-11-2019
24       Due8G@outlook.com  +91-8262323505  09-01-2021
25      OucwwY@outlook.com  +91-8017866448  17-05-2003
26    3TYW5BzK@outlook.com  +91-8849004676  07-02-2005
27        ZDLZmB@yahoo.com  +91-9900313046  13-03-2018
28      ODXACm@outlook.com  +91-7658552582  21-08-2010
29        sqR2II@gmail.com  +91-9333856056  12-05-2011
30        6aYiKy@gmail.com  +91-7202523823  05-02-2000
31    XnpmaOYjp7@yahoo.com  +91-8919315839  02-09-2030
32  3scvKTekL2@outlook.com  +91-8698336675  25-07-2012
33     wMa0sn2@outlook.com  +91-8249799195  20-01-2003
34        Digt5Q@gmail.com  +91-7090591031  21-03-2025
35        2Ks4bT@gmail.com  +91-8946470254  29-10-2006
36     IMvNl7iMO@yahoo.com  +91-9017689458  22-07-2023
37         SBeUE@gmail.com  +91-7056280066  30-09-2023
38      T182TgDc@yahoo.com  +91-8303984365  03-03-2001
39       Ta5T26B@gmail.com  +91-8784598815  13-09-2008
40     4amMLRsBY@gmail.com  +91-7901957980  12-06-2003
41    F6dyUvcE8v@yahoo.com  +91-9539763461  11-03-2025
42      nGa3Zsr1@gmail.com  +91-7238986861  27-11-2029
43       mbzdr@outlook.com  +91-9186034821  05-10-2020
44   lSYLayiZ4@outlook.com  +91-8728318334  17-10-2000
45      tILMc3xA@gmail.com  +91-9893273414  28-05-2015
46     UYXpMW0lu@gmail.com  +91-7552522582  14-07-2002
47   3N3J74MNM@hotmail.com  +91-7501596026  03-01-2011
48    UG8Ky5Q5@hotmail.com  +91-7449062201  15-02-2008
49       QqJiV@hotmail.com  +91-9995808361  07-05-2013

In [ ]:
# pip install pymupdf

In [40]:
import fitz

In [42]:
Content = fitz.open(r"C:\Users\Admin\Downloads\Detailes.pdf")

In [44]:
text = ''
for page in Content:
    text += page.get_text()

print(text)

Emails:
nAstw@outlook.com
Au2LGKWdGY@gmail.com
0nasoeaaw4@gmail.com
czoyzVFpja@outlook.com
9XFRwx4@outlook.com
CU57VTn8h@outlook.com
tx0f3Jcv@gmail.com
lpNiviwTNM@outlook.com
PmxkL@outlook.com
py0UK@outlook.com
vAL0L@gmail.com
iToQn@hotmail.com
X604SE@gmail.com
QIWKlGik8i@outlook.com
gmWbz9EUh5@outlook.com
SHWXFxL7S@hotmail.com
TXj8O7fj@yahoo.com
1gcFW3UgXX@hotmail.com
sZBSRYY7m@outlook.com
ifxiWMlmX@hotmail.com
jxpTu@gmail.com
19Qdc77Ynj@yahoo.com
VOSfbvF@outlook.com
8yKXe@gmail.com
Due8G@outlook.com
OucwwY@outlook.com
3TYW5BzK@outlook.com
ZDLZmB@yahoo.com
ODXACm@outlook.com
sqR2II@gmail.com
6aYiKy@gmail.com
XnpmaOYjp7@yahoo.com
3scvKTekL2@outlook.com
wMa0sn2@outlook.com
Digt5Q@gmail.com
2Ks4bT@gmail.com
IMvNl7iMO@yahoo.com
SBeUE@gmail.com
T182TgDc@yahoo.com
Ta5T26B@gmail.com
4amMLRsBY@gmail.com
F6dyUvcE8v@yahoo.com
nGa3Zsr1@gmail.com
mbzdr@outlook.com
lSYLayiZ4@outlook.com
tILMc3xA@gmail.com
UYXpMW0lu@gmail.com
3N3J74MNM@hotmail.com
UG8Ky5Q5@hotmail.com
QqJiV@hotmail.com
Phone Numbers:
+91-9328007805
+91-7050038054
+91-7325144231
+91-8610638284
+91-8858221596
+91-7035921276
+91-9843513027
+91-7031644384
+91-9673962500
+91-7238584311
+91-7365402497
+91-8873583904
+91-9512045269
+91-8082730318
+91-8099507951
+91-9588056931
+91-8269262531
+91-9715654185
+91-9277495006
+91-9648363060
+91-9417713649
+91-8488671196
+91-8190815664
+91-7454790811
+91-8262323505
+91-8017866448
+91-8849004676
+91-9900313046
+91-7658552582
+91-9333856056
+91-7202523823
+91-8919315839
+91-8698336675
+91-8249799195
+91-7090591031
+91-8946470254
+91-9017689458
+91-7056280066
+91-8303984365
+91-8784598815
+91-7901957980
+91-9539763461
+91-7238986861
+91-9186034821
+91-8728318334
+91-9893273414
+91-7552522582
+91-7501596026
+91-7449062201
+91-9995808361
Dates:
04-06-2000
07-08-2030
27-11-2030
27-11-2004
30-08-2028
30-01-2020
03-03-2007
20-07-2003
29-01-2024
22-11-2009
02-01-2005
04-10-2030
28-03-2007
03-01-2004
29-04-2027
02-02-2012
10-07-2001
25-06-2024
05-11-2007
19-09-2000
27-04-2001
15-11-2011
16-04-2022
26-11-2019
09-01-2021
17-05-2003
07-02-2005
13-03-2018
21-08-2010
12-05-2011
05-02-2000
02-09-2030
25-07-2012
20-01-2003
21-03-2025
29-10-2006
22-07-2023
30-09-2023
03-03-2001
13-09-2008
12-06-2003
11-03-2025
27-11-2029
05-10-2020
17-10-2000
28-05-2015
14-07-2002
03-01-2011
15-02-2008
07-05-2013

In [45]:
Detailes = {"Email":[], "Ph":[], "Date":[]}

Detailes['Email'] = re.findall(email_pattern, text)
Detailes['Ph'] = re.findall(ph_pattern, text)
Detailes['Date'] = re.findall(date_pattern, text)

print(Detailes)

{'Email': ['nAstw@outlook.com', 'Au2LGKWdGY@gmail.com', '0nasoeaaw4@gmail.com', 'czoyzVFpja@outlook.com', '9XFRwx4@outlook.com', 'CU57VTn8h@outlook.com', 'tx0f3Jcv@gmail.com', 'lpNiviwTNM@outlook.com', 'PmxkL@outlook.com', 'py0UK@outlook.com', 'vAL0L@gmail.com', 'iToQn@hotmail.com', 'X604SE@gmail.com', 'QIWKlGik8i@outlook.com', 'gmWbz9EUh5@outlook.com', 'SHWXFxL7S@hotmail.com', 'TXj8O7fj@yahoo.com', '1gcFW3UgXX@hotmail.com', 'sZBSRYY7m@outlook.com', 'ifxiWMlmX@hotmail.com', 'jxpTu@gmail.com', '19Qdc77Ynj@yahoo.com', 'VOSfbvF@outlook.com', '8yKXe@gmail.com', 'Due8G@outlook.com', 'OucwwY@outlook.com', '3TYW5BzK@outlook.com', 'ZDLZmB@yahoo.com', 'ODXACm@outlook.com', 'sqR2II@gmail.com', '6aYiKy@gmail.com', 'XnpmaOYjp7@yahoo.com', '3scvKTekL2@outlook.com', 'wMa0sn2@outlook.com', 'Digt5Q@gmail.com', '2Ks4bT@gmail.com', 'IMvNl7iMO@yahoo.com', 'SBeUE@gmail.com', 'T182TgDc@yahoo.com', 'Ta5T26B@gmail.com', '4amMLRsBY@gmail.com', 'F6dyUvcE8v@yahoo.com', 'nGa3Zsr1@gmail.com', 'mbzdr@outlook.com', 'lSYLayiZ4@outlook.com', 'tILMc3xA@gmail.com', 'UYXpMW0lu@gmail.com', '3N3J74MNM@hotmail.com', 'UG8Ky5Q5@hotmail.com', 'QqJiV@hotmail.com'], 'Ph': ['+91-9328007805', '+91-7050038054', '+91-7325144231', '+91-8610638284', '+91-8858221596', '+91-7035921276', '+91-9843513027', '+91-7031644384', '+91-9673962500', '+91-7238584311', '+91-7365402497', '+91-8873583904', '+91-9512045269', '+91-8082730318', '+91-8099507951', '+91-9588056931', '+91-8269262531', '+91-9715654185', '+91-9277495006', '+91-9648363060', '+91-9417713649', '+91-8488671196', '+91-8190815664', '+91-7454790811', '+91-8262323505', '+91-8017866448', '+91-8849004676', '+91-9900313046', '+91-7658552582', '+91-9333856056', '+91-7202523823', '+91-8919315839', '+91-8698336675', '+91-8249799195', '+91-7090591031', '+91-8946470254', '+91-9017689458', '+91-7056280066', '+91-8303984365', '+91-8784598815', '+91-7901957980', '+91-9539763461', '+91-7238986861', '+91-9186034821', '+91-8728318334', '+91-9893273414', '+91-7552522582', '+91-7501596026', '+91-7449062201', '+91-9995808361'], 'Date': ['04-06-2000', '07-08-2030', '27-11-2030', '27-11-2004', '30-08-2028', '30-01-2020', '03-03-2007', '20-07-2003', '29-01-2024', '22-11-2009', '02-01-2005', '04-10-2030', '28-03-2007', '03-01-2004', '29-04-2027', '02-02-2012', '10-07-2001', '25-06-2024', '05-11-2007', '19-09-2000', '27-04-2001', '15-11-2011', '16-04-2022', '26-11-2019', '09-01-2021', '17-05-2003', '07-02-2005', '13-03-2018', '21-08-2010', '12-05-2011', '05-02-2000', '02-09-2030', '25-07-2012', '20-01-2003', '21-03-2025', '29-10-2006', '22-07-2023', '30-09-2023', '03-03-2001', '13-09-2008', '12-06-2003', '11-03-2025', '27-11-2029', '05-10-2020', '17-10-2000', '28-05-2015', '14-07-2002', '03-01-2011', '15-02-2008', '07-05-2013']}

In [ ]:
mixed_strings = [
    "test@example.com",
    "(123)-456-7890",
    "Start this string",
    "This string ends with End",
    "123456",
    "Contains whitespace ",
    "pretest and posttest",
    "@#!$%",
    "5This does not start with a digit",
    "NoWhitespaceHere"
]

## **OOP's**

```
class className:
    # Statements 1
    .
    .
    .
    #Statements n
```

In [2]:
class Myclass:
    x = 5 #class vriable

    # Contructor 
    def __init__ (self, y):
        self.y = y #instace veriable

    # Method
    def diplay(self):
        print(f"{self.y}")

In [3]:
obj = Myclass(8)

In [4]:
# accessing veriable or attribute
Myclass.x

5

In [5]:
obj.x

5

In [6]:
obj.y

8

In [7]:
# Calling Method
obj.diplay()

8

In [8]:
# Modified Attribute
Myclass.x = 10
Myclass.x

10

In [9]:
obj.y = 16
obj.y

16

In [12]:
class Dog:
    Species = 'Canine'

    def __init__ (self, name, age):
        self.name = name
        self.age = age

    def display_info(self):
        print(f"The dog name is {self.name} and the age is {self.age}")

dog1 = Dog("puppy", 3)
dog2 = Dog("Charlie", 5)

print(Dog.Species)
print(dog1.name)
print(dog2.age)
dog1.display_info()

Canine
puppy
5
The dog name is puppy and the age is 3

In [2]:
class divisible:
    def __init__ (self, num1, num2):
        self.num1 = num1
        self.num2 = num2

    def div2(self):
        if self.num1%2 == 0:
            print("Divisible by 2")
        else:
            print("Not Divisible by 2")

    def div3(self):
        if self.num2%3==0:
            print("Divisible by 3")
        else:
            print("Not Divisible by 3")

divisible1 = divisible(9,15)
divisible1.div2()
divisible1.div3()

Not Divisible by 2
Divisible by 3

In [18]:
class divisible:
    def __init__ (self, num1):
        self.num1 = num1

    def div2(self):
        for i in range(self.num1):
            if i%2 == 0:
                print(f"{i} is Divisible by 2")
            else:
                print(f"{i} is Not Divisible by 2")

div1 = divisible(10)
div1.div2()

0 is Divisible by 2
1 is Not Divisible by 2
2 is Divisible by 2
3 is Not Divisible by 2
4 is Divisible by 2
5 is Not Divisible by 2
6 is Divisible by 2
7 is Not Divisible by 2
8 is Divisible by 2
9 is Not Divisible by 2

In [14]:
class car:

    car_count = 0

    def __init__ (self, make, model):
        self.make= make
        self.model = model

        car.car_count+=1

    def display(self):
        print(f"Car Manufacture {self.make}, and Model name {self.model}")

car1 = car("KIA", "Sonet")
car2 = car("Ford", "Mustang")
car3 = car("Toyota", "Fortunar")
car4 = car("Mahindra", "Thar")

car4.display()

Car Manufacture Mahindra, and Model name Thar

In [15]:
print(car.car_count)

4

#### **Encapsulation**

In [20]:
class Person:
    def __init__(self, name, city):
        self.name = name
        self.city = city

    def display_info(self):
        return f"{self.name}, {self.city}"

obj = Person("Ash", "Iraq")
obj.display_info()

'Ash, Iraq'

In [21]:
obj.name

'Ash'

In [22]:
obj.city

'Iraq'

In [27]:
class Person:
    def __init__(self, name, city):
        self.__name = name #private Attribute (__)
        self.__city = city

    def display_info(self):
        return f"{self.__name}, {self.__city}"

obj1 = Person("Arya", "Blore")

In [28]:
obj1.name

AttributeError: 'Person' object has no attribute 'name'

In [29]:
obj1.display_info()

'Arya, Blore'

In [5]:
class BankAccount():
    def __init__(self, Name, Balance):
        self.__name = Name
        self.__balance = Balance
        

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
            print(f"Balance After Deposite {self.__balance}")
        else:
            print("Deposit amount must be Positive")

    def withdraw(self, amount):
        if amount > 0:
            if self.__balance >= amount:
                self.__balance -= amount
                print(f"Balance After Withdraw {self.__balance}")
            else:
                print("Isuffuciat balance")

    def get_balance(self):
        return self.__balance


account = BankAccount("Aftab", 2000)

In [35]:
account.deposit(500)

Balance After Deposite 2500

In [37]:
account.withdraw(1000)

Balance After Withdraw 1500

In [38]:
account.get_balance()

1500

##### **Student Report Card**

In [45]:
class Student:
    def __init__ (self, name):
        self.name = name
        
        self.__grades = {}

    def add_grade(self, subject, grade):
        if 0 <= grade <= 100:
            self.__grades[subject] = grade
        else:
            print("Invalid Grade")

    def get_grade(self, subject):
        return self.__grades.get(subject)

    def get_all_grades(self):
        return self.__grades


s1 = Student("Rohan")
s1.add_grade("Math", 95)
s1.add_grade("Science", 75)

In [46]:
s1.get_grade('Math')

95

In [47]:
s1.get_all_grades()

{'Math': 95, 'Science': 75}

In [1]:
## **Inharitance**

In [2]:
class Person:
    def __init__ (self, fname, lname):
        self.first_name = fname
        self.last_name = lname

    def printname(self):
        print(self.first_name+ ' ' +self.last_name)

class Student(Person):
    def __init__ (self, fname, lname, age, student_id):
        super().__init__(fname, lname)
        self.age = age
        self.student_id = student_id

    def Study(self):
        print(f"{self.first_name+' '+self.last_name} is Studying. (Student ID: {self.student_id})")

In [4]:
p1 = Person("Datta", "Deepak")
p1.printname()

Datta Deepak

In [3]:
s1 = Student("Datta", "Deepak", 24, 1)
s1.Study()

Datta Deepak is Studying. (Student ID: 1)

In [8]:
class BankAccount():
    def __init__(self, Name, Balance):
        self.__name = Name
        self.__balance = Balance
        

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
            print(f"Balance After Deposite {self.__balance}")
        else:
            print("Deposit amount must be Positive")

    def withdraw(self, amount):
        if amount > 0:
            if self.__balance >= amount:
                self.__balance -= amount
                print(f"Balance After Withdraw {self.__balance}")
            else:
                print("Isuffuciat balance")

    def get_balance(self):
        return self.__balance

class SavingAccount(BankAccount):
    def __init__ (self, Name, Balance, interest_rate=0.03):
        super().__init__(Name, Balance)
        self.interest_rate = interest_rate

    def add_interest(self):
        interest = self.get_balance() * self.interest_rate
        self.deposit(interest)

In [15]:
account1 = SavingAccount("Rohan", 1500)

In [16]:
account1.deposit(100)

Balance After Deposite 1600

In [20]:
account1.add_interest()

Balance After Deposite 1182.44

In [18]:
account1.withdraw(500)

Balance After Withdraw 1148.0

In [19]:
account1.get_balance()

1148.0

In [21]:
# multiple Inharitence

In [26]:
class Bird:
    def __init__ (self, Name):
        self.name = Name
    def diplay(self):
        return self.name

class Swimmer:
    def swim(self):
        return "Swimming"

class Flayer:
    def __init__ (self, Name):
        super().__init__(Name)
        
    def fly(self):
        return f"{self.name} Flying"

class Duck(Bird, Swimmer, Flayer):
    def quck(self):
        return "Quack"


bird = Duck("Egale")
bird.fly()

'Egale Flying'

In [27]:
bird.swim()

'Swimming'

In [28]:
bird.diplay()

'Egale'

In [29]:
### Multilel Inharitence**

In [35]:
class Class_10(Student):
    def __init__ (self, fname, lname, age, student_id, class_id):
        super().__init__(fname, lname, age, student_id)
        self.class_id = class_id

    def display_info(self):
        print(f"{self.first_name+' '+self.last_name} is Studying. (Student ID: {self.student_id}) , (Class ID : {self.class_id})" )


student2 = Class_10("Datta", "Deepak", 24, 1, 2)

In [36]:
student2.display_info()

Datta Deepak is Studying. (Student ID: 1) , (Class ID : 2)

In [37]:
### **Polymophism**

In [42]:
class Bird:
    def __init__ (self, Name):
        self.name = Name
    def diplay(self):
        return self.name

class Swimmer:
    def swim(self):
        return "Swimming"

class Flayer(Bird):
    def __init__ (self, Name):
        super().__init__(Name)
        
    def fly(self):
        return f"{self.name} Flying"

class Duck(Swimmer, Flayer):
    def quck(self):
        return "Quack"

In [43]:
obj = Duck("Parrote")

In [44]:
obj.fly()

'Parrote Flying'

In [45]:
obj2 = Duck("Picok")
obj2.fly()

'Picok Flying'

In [46]:
obj2.quck()

'Quack'

In [47]:
obj2.swim()

'Swimming'

In [53]:
#overloading

class Matheoperation:
    def add(self, a, b, c = 0, d = None):
        if d is not None:
            return a + b + c + d
        return a+b+c

add = Matheoperation()
add.add(12,13)

25

In [54]:
add.add(12,13, 14)

39

In [55]:
add.add(11,12,13,14)

50